*~
*.swp
*.swo
out*
misc/logs/LAST_TIME*
misc/logs/ast.json
misc/logs/html/archive/
misc/logs/ortest/
misc/logs/upload
misc/mysqld
misc/logs/html/
misc/logs/logs
misc/logs/*_temp
samples/ortest-fc.ob
samples/ortest-fb.ob
samples/ortest-sol.ob
samples/ortest-mac.ob
ortest-fb.pl
ortest-mac.pl
ortest-sol.pl
ortest-fc.pl
ortest-ec2.pl
openresty-tester.pl
go
