*~
*.swp
*.swo
*.pl
out*
misc/logs/LAST_TIME*
misc/logs/ast.json
misc/logs/html/archive/
misc/logs/ortest/
misc/logs/upload
misc/mysqld
misc/logs/html/
samples/ortest-fc.ob
samples/ortest-fb.ob
samples/ortest-sol.ob
