body {
    font-family: Monospace, Serif;
}

table.testcase {
    margin-left: 2em;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
    width: 90%;
}

table.testcase tr {
    padding: 5pt;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
}

table.testcase td,
table.testcase th {
    padding: 15pt;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
    width: 33%;
    text-align: center;
}

table.summary {
    margin-left: 2em;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
    width: 90%;
}

table.summary tr {
    padding: 5pt;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
}

.none {
    font-style: italic;
}

table.summary td,
table.summary th {
    padding: 15pt;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
    width: 14.4%;
    text-align: center;
}

.fails {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

table.result {
    /*
    margin-left: auto;
    margin-right: auto;
     */
    margin-left: 2em;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
}

div.report {
    /* text-align: center; */
}

table.result tr {
    padding: 10pt;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
}

table.result td,
table.result th {
    padding: 10pt;
    border-width: 2pt;
    border-style: solid;
    border-collapse: collapse;
    width: 25%;
    text-align: center;
}

a.pass {
    color: green;
    font-weight: bold;
}

a.almost_pass {
    color: orange;
    font-weight: bold;
}

a.fail {
    color: red;
    font-weight: bold;
}

